---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Empowering Your Strategy with <br />
      <span class="text-accent dark:text-white highlight disableCaret"> Data-Driven Insights </span>
    </Fragment>

    <Fragment slot="subtitle">
      Ephoreal Technologies specializes in transforming data into actionable insights. We often assist clients in identifying the most relevant data to capture. Our expertise encompasses all aspects of data management, from collection to production. Additionally, we enhance operational efficiency by replacing existing, ineffective processes with advanced AI and custom software solutions.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="At our data science company, we prioritize a customer-centric approach, ensuring tailored solutions that drive success. Our commitment to integrity, agility, and ethical practices guarantees accurate, timely, and secure data management for all clients."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'We prioritize our clients’ needs by actively listening and tailoring our solutions to drive their success. Our commitment to understanding your unique challenges ensures that we deliver impactful, data-driven results.',
      },
      {
        title: 'Integrity in Data',
        description:
          'We uphold the highest standards of accuracy and transparency in our data practices. Our commitment to integrity fosters trust and enables informed decision-making for our clients.',
      },
      {
        title: 'Agile',
        description:
          'In a fast-paced digital landscape, we pride ourselves on our ability to adapt quickly to changing requirements and emerging trends. Our agile approach ensures that we deliver timely solutions that meet your evolving needs.',
      },
      {
        title: 'Ethical Data Practices',
        description:
          'We are dedicated to maintaining the highest ethical standards in our data handling processes. Our focus on privacy and security ensures that your information is safeguarded while driving innovation and insight.',
      },
    ]}
  />

  <!-- Team Widget ****************** -->

  <Testimonials
    title="Meet Our Team"
    subtitle="The talented individuals who drive innovation and deliver exceptional results for our clients"
    classes={{
      container: 'max-w-4xl mx-auto',
    }}
    testimonials={[
      {
        name: 'Timoth Dev',
        job: 'Founder and CEO',
        testimonial: 'Loves solving problems. Improving businesses with technology strategy is his forte. A mediocre husband, a good father, and yet to be a Sadhu.',
        image: {
          src: '~/assets/images/timoth-photo.jpg',
          alt: 'Timoth Dev',
        },
      },
      {
        name: 'Kiruthiga A',
        job: 'Principal Data Scientist',
        testimonial: 'She figures things out when no one else can. Thrives on making optimal decisions under complexity. A devoted mother who loves travel and tapioca chips.',
        image: {
          src: '~/assets/images/kiruthiga-photo.jpg',
          alt: 'Kiruthiga A',
        },
      },
    ]}
  />
</Layout>
