---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
const metadata = {
  title: 'Contact',
};
---
<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Contact" title="Let's Connect!" />
  
  <!-- Container for the form with percentage-based padding -->
  <div style="padding-left: 30%; padding-right: 30%;">
    <script is:inline src="//js.hsforms.net/forms/embed/v2.js" client:load></script>
    <script is:inline>
        hbspt.forms.create({
        region: "na1",
        portalId: "47705130",
        formId: "09b2019a-aa55-41e4-9fe4-85eb2a955c78"
      });
    </script>
  </div>
</Layout>