---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata} transition:persist >
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Get in touch" title="Contact Us" subtitle="Your Vision, Our Expertise. Let's transform your business Together."/>
  <p align="center"> <iframe src="https://share.hsforms.com/1CbIBmqpVQeSf5IXrKpVceAsehii" height="680" width="600" title="Iframe Example"></iframe> </p>

</Layout>