---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata} transition:persist >
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Get in touch" title="Contact Us" subtitle="Your Vision, Our Expertise. Let's transform your business Together."/>
  <div style="width:100%;height:500px;" data-fillout-id="s2TWBTyAaius" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script>
</Layout>