---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata} transition:persist >
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Get in touch" title="Contact Us" subtitle="Your Vision, Our Expertise. Let's transform your business Together."/>
  <script src="https://js-na2.hsforms.net/forms/embed/243261332.js" defer></script>
  <div class="hs-form-frame" data-region="na2" data-form-id="10ad9b85-8e6c-47dd-b959-b52c58ed82a8" data-portal-id="243261332"></div>
</Layout>