---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Ephoreal Technologies — your Data Strategy partner',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    <!actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}>
    image={{ src: '~/assets/images/dataAnalysis.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
    Empowering Enterprises with 
    <br>
    <span class="text-accent dark:text-white highlight"> 
    Data-Driven 
    </span> <br>
    decision making 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Enhance your intuition using data.</span> 
        Transform your data into information and information into business insights,
         —insights to actionable growth strategies.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="How we do strategic consult"
    title="First principles!"
    items={[
      {
        title: 'Domain understanding',
        description:
          'We are domain agnostic, exploring with an openmind to identity the source of your pain points, problem and inefficiencies. Gather requirements from domain experts and align with business prioritise',
      },
      {
        title: 'Solution',
        description:
          'We do a literature survey and design technical solution.',
      },
      {
        title: 'Demo',
        description:
          'We create a simple POC for alpha release, talk to customer or infield experts for feedback.',
      },
      {
        title: 'Roadmap',
        description:
          'We provide roadmap for production delivery.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  </Layout>
