---
import dataIcon from "~/assets/images/logo.svg";
import Image from '~/components/common/Image.astro';
---

<div class="flex items-center">
  <Image src={dataIcon} 
    alt="Ephoreal Technologies logo" 
    width={70} 
    class="mr-2" />
  <span class="text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    Ephoreal Technologies
  </span>
</div>
