---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Image from '~/components/common/Image.astro';
const predictiveMaintanenceAnalytics = "~/assets/images/PredictiveMaintanenceAnalytics.jpg";
const metadata = {
  title: 'IOT Services for Industrial Manufacturing',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Transform Your Manufacturing with IOT"
  >
    <Fragment slot="title">
      Revolutionize Your <span class="hidden sm:inline">Industrial</span> <span
        class="text-accent dark:text-white highlight">Manufacturing</span
      > with IOT
    </Fragment>

    <Fragment slot="subtitle">
      Unlock the full potential of your manufacturing facility with our cutting-edge IOT solutions.
    </Fragment>

    <Fragment slot="image">
      <Image src= {predictiveMaintanenceAnalytics} alt="IOT in Manufacturing" class="mx-auto max-w-full" />
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Our Comprehensive IOT Services"
    subtitle="Empower your manufacturing facility with advanced IOT solutions."
    columns={2}
    items={[
      {
        title: 'Predictive Maintenance',
        description: 'Reduce downtime by up to <a class="underline ..." href="https://www2.deloitte.com/content/dam/Deloitte/us/Documents/process-and-operations/us-predictive-maintenance.pdf" target="_blank">15%</a> with predictive maintenance using sensors to monitor equipment health.',
        icon: 'tabler:tools',
        href: '~/assets/images/Predictive Analytics man holding dashboard infront of a assemble robot.jpg',
      },
      {
        title: 'Energy Monitoring and Optimization',
        description: 'Optimize energy usage by <a class="underline ..." href="https://info.braincube.com/l/801593/2023-03-06/5c36c2/801593/1678101589CnrPhrDK/Braincube_CS_Aubert___Duval_Energy_Management.pdf" target="_blank">~20% and upto 50%</a> costs reduction with real-time tracking of energy consumption & optimization.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Quality Control', 
        description: 'Achieve <a class="underline ..." href="https://www.polestarllp.com/blog/zero-defect-manufacturing-leveraging-ai-for-zero-regrets target="_blank">near-zero</a> defect rates with real-time defect detection using sensors and computer vision.',
        icon: 'tabler:check',
      },
      {
        title: 'Supply Chain Tracking',
        description: 'Enhance supply chain efficiency by <a class="underline ..." href="https://www.sciencedirect.com/science/article/pii/S2667096822000271" target="_blank">80%</a> with RFID and GPS tracking of materials.',
        icon: 'tabler:truck',
      },
      {
        title: 'Environmental Monitoring',
        description: 'Ensure optimal working conditions with sensors monitoring temperature, humidity, and air quality.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Asset Tracking',
        description: 'Improve asset utilization by <a class="underline ..." href="http://dx.doi.org/10.1080/23311975.2020.1763649" target="_blank">30%</a> with real-time monitoring of tools, equipment, and other assets.',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Worker Safety',
        description: 'Reduce workplace accidents by <a class="underline ..." href="https://hospitalitytech.com/how-wearable-tech-can-reduce-injuries-hotel-workers" target="_blank">50%</a> with wearable devices monitoring worker health and safety.',
        icon: 'tabler:shield',
      },
      {
        title: 'Production Line Optimization',
        description: 'Boost production efficiency by <a class="underline ..." href="https://zerynth.com/blog/production-processes-optimization-in-the-manufacturing-industry-kpis-monitored-with-iot/" target="_blank">30-50%</a> by optimizing production flow and identifying bottlenecks.',
        icon: 'tabler:chart-line',
      },
    ]}
  />
  <!-- Stats Widget ****************** -->

  <Stats
    title="The Impact of IOT in Manufacturing"
    subtitle="See the numbers that demonstrate the effectiveness of our IOT solutions."
    stats={[
      { title: 'Downtime Reduction', amount: '5-15%' },
      { title: 'Energy Savings', amount: '~20%' },
      { title: 'Defect Rates', amount: 'Near-Zero' },
      { title: 'Supply Chain Efficiency', amount: '80%' },
      { title: 'Asset Utilization', amount: '30%' },
      { title: 'Workplace Accidents Reduction', amount: '50%' },
      { title: 'Production Efficiency', amount: '30-50%' },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What is IOT in manufacturing?',
        description:
          'IOT (Internet of Things) in manufacturing refers to the use of connected devices and sensors to collect and exchange data, enabling smarter and more efficient operations.',
      },
      {
        title: 'How does predictive maintenance work?',
        description:
          'Predictive maintenance uses sensors to monitor the health of equipment and predict when maintenance is needed, reducing downtime and extending machine life.',
      },
      {
        title: 'Can IOT improve energy efficiency?',
        description:
          'Yes, IOT can track energy consumption across the facility in real-time, identifying inefficiencies and optimizing usage to reduce costs.',
      },
      {
        title: 'Is IOT secure?',
        description:
          'IOT security is a priority. We implement robust security measures to protect data and ensure the integrity of your IOT systems.',
      },
      {
        title: 'How does IOT enhance worker safety?',
        description:
          'Wearable devices and sensors can monitor worker health and safety, alerting to potential hazards or fatigue, thereby reducing accidents.',
      },
      {
        title: 'What is the pricing?',
        description:
          'We have affordable pricing from 50$ per month to perpertual license. Please connect with us to discuss further.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">Ready to Transform Your Manufacturing?</Fragment>

    <Fragment slot="subtitle">
      Contact us today to learn how our IOT solutions can revolutionize your industrial manufacturing facility.
    </Fragment>

    
  </CallToAction>
</Layout>

